@page
@model UserProfileView
@{
    ViewBag.Title = "login";
}
<head>
    <style>
        body {
            background-color: #68437d
}
    </style>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

</head>
<body>
    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <div class="login-form-title">Sign up</div>
                @using (Html.BeginForm("SaveAccount", "UserProfile", FormMethod.Post))
                {
                    <div class="wrap-input">
                        <div> @Html.TextBoxFor(a => a.Email, new { placeholder = "Email", @class = "input-container", required = "required" })</div>
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.Password, new { placeholder = "Password", @class = "input-container", required = "required" })
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.FirstName, new { placeholder = "First Name", @class = "input-container", required = "required" })
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.LastName, new { placeholder = "Last Name", @class = "input-container", required = "required" })
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.Street, new { placeholder = "Street", @class = "input-container" })
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.Number, new { placeholder = "Number", @class = "input-container"})
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.City, new { placeholder = "City", @class = "input-container" })
                    </div>
                    <div class="wrap-input">
                        @Html.TextBoxFor(a => a.Country, new { placeholder = "Country", @class = "input-container" })
                    </div>
                    <div>
                        <div class="container-login-form-btn">
                            
                                <button class="login-form-btn">
                                    Sign up
                                </button>
                          
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</body>