@model List<SalonServiceView>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }</style>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

</head>
<body>
    <div class="column-container">
        <table class="table" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:150px">Services</th>
                    <th style="width:150px">Descrition</th>
                    <th style="width:150px">Appoinment Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in @Model)
                {
                    <tr>
                        <td>@service.Name</td>
                        <td>@service.Description</td>
                        <td>
                            @using (Html.BeginForm("Save", "Services", FormMethod.Post))
                            {
                                //this is for create form tag
                                @Html.AntiForgeryToken()
                                // this is for prevent CSRF attack
                                @Html.ValidationSummary(true)
                                @Html.TextBoxFor(a => a.FirstOrDefault().AppointmentDate, new { placeholder = "Birthdate", @class = "input-container", type = "date" })

                            }
                        </td>
                        <td>
                            <div>
                                <input type="button" value="Book appoinment" onclick="location.href='@Url.Action("SuccessfulBook", "Services", new {id = service.Id, salonId = service.SalonId, appointmentDate = service.AppointmentDate})'" />
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>

</html>

